.current-weather {
    display: flex;
    flex-direction: row;

    .main-info {
        background: rgba(rgb(0, 0, 0), 0.4);
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        border: none;
        outline: none;
        margin-top: 150px;

        .time-div {

            h4 {
                font-size: 1.3rem;
                color: #EBBC2F;
                letter-spacing: 1px;
            }

        }

        .city-div {
            margin-bottom: 30px;

            h2 {
                font-size: 3rem;
                font-weight: lighter;
                color: white;
                letter-spacing: 2px;
            }
        }

        .temperature-div {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h6 {
                font-size: 1.3rem;
                font-weight: lighter;
                letter-spacing: 2px;

                span {
                    color: #EBBC2F;
                }
            }

            h1 {
                font-size: 8rem;
                color: #EBBC2F;
            }

        }
    }

    .weather-details {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        // flex-direction: row;
        height: 400px;
        width: 500px;
        background: rgba(rgb(0, 0, 0), 0.4);
        border: none;
        outline: none;
        margin: auto 50px;
        justify-content: space-evenly;
        margin-top: 150px;



        .detail-container {
            display: flex;
            flex-direction: column;
            height: 200px;
            min-width: 200px;
            padding: 10px 0;
            color: white;
            align-items: center;
            justify-content: space-evenly;


            .detail-icon {

                svg {
                    height: 50px;
                    fill: white;
                }
            }

            .detail-info {
                text-align: center;

                h4 {
                    font-weight: lighter;
                }

                h2 {
                    color: #EBBC2F;
                }
            }
        }
    }
}