.current-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 90%;

    .main-info {
        background: rgba(rgb(0, 0, 0), 0.4);
        width: 35%;
        height: 60%;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: none;
        outline: none;
        margin-top: 200px;

        .time-div {
            margin-bottom: 20px;

            h4 {
                font-size: 1.3rem;
                color: #EBBC2F;
                letter-spacing: 1px;
            }

        }

        .city-div {
            margin-bottom: 20px;

            h2 {
                font-size: 2.5rem;
                font-weight: lighter;
                color: white;
                letter-spacing: 2px;
            }
        }

        .temperature-div {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50%;

            h6 {
                font-size: 1.4rem;
                font-weight: lighter;
                letter-spacing: 3px;

                span {
                    color: #EBBC2F;
                }
            }

            h1 {
                font-size: 8rem;
                color: #EBBC2F;
            }

        }
    }

    .weather-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 60%;
        min-height: 400px;
        width: 60%;
        background: rgba(rgb(0, 0, 0), 0.4);
        border: none;
        outline: none;
        margin-top: 200px;



        .detail-container {
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 150px;
            padding: 10px 0;
            color: white;
            align-items: center;
            justify-content: space-evenly;
            margin: auto;


            .detail-icon {

                svg {
                    height: 50px;
                    fill: white;
                }
            }

            .detail-info {
                text-align: center;

                h4 {
                    font-weight: lighter;
                }

                h2 {
                    color: #EBBC2F;
                }
            }
        }
    }
}