.weather {
    width: 100%;
    height: 100vh;

    .background {
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -1;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
            filter: blur(1px);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.4;
        }
    }

    .container {
        width: 85%;
        margin: 0 auto;
        height: 100vh;

        header {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            height: 150px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: space-evenly;
            z-index: 3;
            margin-bottom: 30px;
            width: 85%;
            margin: 0 auto;
            background: none;

            .top-header {
                display: flex;
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .logo {
                    h1 {
                        font-size: 2rem;
                        letter-spacing: 2px;
                        font-weight: bolder;
                        color: white;
                    }

                    span {
                        color: #EBBC2F;
                    }
                }

                .nav {
                    width: 50%;


                    ul {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        li {
                            list-style: none;

                            &.active {
                                a {
                                    color: #EBBC2F;
                                    background: rgba(black, 0.6);
                                }
                            }

                            a {
                                color: white;
                                text-decoration: none;
                                cursor: pointer;
                                padding: 0.5rem 0.7rem;
                                // border: 1px solid white;
                                border-radius: 5px;



                            }
                        }
                    }
                }

            }


            .locationBar {
                display: flex;
                flex-direction: row;
                align-items: center;

                h3 {
                    color: white;
                    letter-spacing: 1px;
                    font-weight: lighter;
                }

                button {
                    cursor: pointer;
                    background: none;
                    outline: none;
                    border: none;
                    height: 100%;
                    padding: 0.3rem 0.5rem;


                    svg {
                        fill: white;
                        width: 20px;
                        height: auto;
                    }
                }

                .searchBar {
                    display: flex;
                    flex-direction: row;
                    border: 1px solid white;
                    border-radius: 3px;
                    margin: 0 10px;

                    input {
                        padding: 5px 10px;
                        font-size: 1rem;
                        background: none;
                        outline: none;
                        border: none;
                        color: white;
                    }


                }

                .locationBtn {
                    button {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: white;
                        font-size: 1.2rem;
                        border-radius: 3px;
                        border: 1px solid white;
                        padding: 5px 10px;


                        svg {
                            fill: rgb(153, 21, 21);
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .section {
            height: 100vh;
        }



    }


}

@media screen and (min-width : 1660px) {
    html {
        font-size: 20px;
    }

}

@media screen and (min-width : 1367px) {
    html {
        font-size: 18px;
    }

    .weather {

        .container {
            header {
                height: 200px;


                .locationBar {


                    button {
                        svg {
                            width: 30px;
                        }
                    }

                    .searchBar {
                        margin: 0 20px;
                    }

                }
            }

            .current-weather {
                min-height: 750px;

                .main-info {
                    margin-top: 250px;


                }

                .weather-details {
                    margin-top: 250px;

                    .detail-container {

                        .detail-icon {

                            svg {
                                height: 60px;
                            }
                        }
                    }
                }
            }

            .hourly-weather,
            .daily-weather {
                .weather-section {
                    margin-top: 200px;


                    .weather-details {

                        .detail-container {

                            .detail-icon {

                                svg {
                                    height: 60px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width : 1080px) {
    html {
        font-size: 14px;
    }

    .weather {
        .container {
            header {}

            .current-weather {
                .main-info {
                    min-height: 300px;
                    margin-top: 150px;

                    .time-div {

                        h4 {}

                    }

                    .city-div {

                        h2 {
                            letter-spacing: 1px;
                        }
                    }

                    .temperature-div {

                        h6 {
                            letter-spacing: 1px;
                        }

                        h1 {}

                    }
                }

                .weather-details {

                    min-height: 300px;
                    margin-top: 150px;

                    .detail-container {
                        height: 150px;
                        width: 150px;
                        padding: 5px 0;

                        .detail-icon {

                            svg {
                                height: 40px;
                            }
                        }

                        .detail-info {
                            text-align: center;

                            h4 {
                                font-weight: lighter;
                            }

                            h2 {
                                color: #EBBC2F;
                            }
                        }
                    }
                }
            }

            .hourly-weather,
            .daily-weather {
                .weather-section {
                    .weather-details {

                        .detail-container {
                            height: 150px;
                            width: 150px;
                            padding: 5px 0;

                            .detail-icon {

                                svg {
                                    height: 40px;
                                }
                            }

                            .detail-info {
                                text-align: center;

                                h4 {
                                    font-weight: lighter;
                                }

                                h2 {
                                    color: #EBBC2F;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

}

@media screen and (max-width : 967px) {
    html {
        font-size: 12px;
    }

    .weather {
        .container {
            header {}

            .current-weather {
                .weather-details {

                    .detail-container {
                        height: 100px;
                        width: 100px;
                        padding: 5px 0;

                        .detail-icon {

                            svg {
                                height: 40px;
                            }
                        }

                        .detail-info {
                            text-align: center;

                            h4 {
                                font-weight: lighter;
                            }

                            h2 {
                                color: #EBBC2F;
                            }
                        }
                    }
                }
            }

            .hourly-weather,
            .daily-weather {
                .weather-section {
                    .weather-details {


                        .detail-container {
                            height: 100px;
                            width: 100px;
                            padding: 5px 0;

                            .detail-icon {

                                svg {
                                    height: 40px;
                                }
                            }

                            .detail-info {
                                text-align: center;

                                h4 {
                                    font-weight: lighter;
                                }

                                h2 {
                                    color: #EBBC2F;
                                }
                            }
                        }
                    }
                }

                .days-section {
                    .day-container {
                        .temperature {
                            h2 {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

            }
        }
    }

}


@media screen and (max-width : 600px) {
    html {
        font-size: 10px;
    }

    .weather {
        .background {
            .overlay {
                // opacity: 0.4;
            }
        }

        .container {
            width: 90%;

            header {
                width: 90%;
                height: 120px;

                .nav {
                    display: none;
                }

                .locationBar {
                    flex-direction: row;

                    h3 {
                        color: #EBBC2F;
                        letter-spacing: 1px;
                        font-weight: lighter;
                    }

                    button {
                        svg {
                            width: 15px;
                        }
                    }


                    .locationBtn {
                        button {
                            color: transparent;
                            border: none;
                            padding: 0;

                            svg {
                                fill: white;
                                margin-right: 5px;
                                width: 20px;
                            }
                        }
                    }
                }
            }

            .current-weather {
                flex-direction: column;
                justify-content: flex-start;

                .main-info {
                    background: none;
                    width: 100%;
                    min-height: 200px;
                    height: auto;
                    margin-top: 120px;
                    align-items: center;

                    .time-div {
                        margin-bottom: 10px;
                    }

                    .city-div {
                        margin-bottom: 10px;

                        h2 {
                            letter-spacing: 3px;
                        }
                    }

                    .temperature-div {
                        align-items: center;

                        h1 {
                            font-size: 6rem;
                            font-weight: 600;
                        }
                    }
                }

                .weather-details {
                    background: none;
                    height: 35%;
                    min-height: 160px;
                    width: 90%;
                    margin: 0 auto;

                    .detail-container {
                        height: 80px;
                        width: 80px;

                        .detail-icon {
                            svg {
                                height: 30px;
                            }
                        }

                        .detail-info {
                            h4 {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            .hourly-weather,
            .daily-weather {
                .weather-section {
                    margin-top: 120px;
                    flex-direction: column;
                    justify-content: flex-start;
                    height: 50%;

                    .main-info {
                        background: none;
                        width: 100%;
                        min-height: 180px;
                        height: auto;
                        align-items: center;

                        .time-div {
                            margin-bottom: 8px;
                        }

                        .city-div {
                            margin-bottom: 8px;

                            h2 {
                                letter-spacing: 3px;
                            }
                        }

                        .temperature-div {
                            align-items: center;

                            h1 {
                                font-size: 6rem;
                                font-weight: 600;
                            }
                        }
                    }

                    .weather-details {
                        background: none;
                        min-height: 160px;
                        width: 90%;
                        margin: 15px auto;

                        .detail-container {
                            height: 80px;
                            width: 80px;

                            .detail-icon {
                                svg {
                                    height: 25px;
                                }
                            }

                            .detail-info {
                                h4 {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                .hours-section,
                .days-section {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    align-items: center;
                    width: 100%;
                    height: 120px;

                    .hour-container,
                    .day-container {
                        width: auto;
                        height: 60px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 10px;


                        .hour,
                        .day {
                            margin-bottom: 5px;
                        }

                        .temperature {
                            h2 {
                                color: #EBBC2F;
                                font-size: 2rem;

                            }
                        }

                    }

                }

            }
        }
    }

}